body
{
  margin: 0px;
  padding: 0px;
}

table.mwmain
{
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse; 
  
}

table.mwversions
{
  
  width: 510px;
  padding: 0;
  margin-left: 0;
  border-collapse: collapse;
}


td.mwmaintitle
{
  text-align: center;
  width: 100%;
  font-family: Arial,Helvetica;
  font-size: 1.5em;
  color: red; 
  padding-bottom:5px;
}

td.mwsubtitle
{
  text-align: left;
  width: 100%;
  font-family: Arial,Helvetica;
  font-size: 1.12em;
  font-weight: bold;
  color: black;
}

td.gis
{
  text-align: left;
  padding-top: 1em;
  width: 100%;
  font-family: Arial,Helvetica;
  font-size: 1.12em;
}

td.update
{
  text-align: left;
  width: 100%;
  font-family: Arial,Helvetica;
  font-size: .76em;
  font-weight: normal;
  color: black;
}

td.clickmap
{
  text-align: center;
  width: 100%;
  font-family: Arial,Helvetica;
  font-size: .76em;
  font-weight: normal;
  color: black;
}

td.mwissuet
{
  text-align: left;
  width: 100%;
  font-family: Arial,Helvetica;
  font-size: .76em;
  font-weight: bold;
  color: green;
  padding-left: 10px;
}

td.mwversions
{
  text-align: left;
  font-family: Arial,Helvetica;
  font-size: .76em;
  font-weight: bold;
  color: black;
  padding-left: 10px;
}

td.mwfb
{
  text-align: center;
  width: 100%;
  font-family: Arial,Helvetica;
  font-size: 100%;
  font-weight: bold;
  color: green;
}

td.mwep
{
  text-align: left;
  width: 100%;
  font-family: Arial,Helvetica;
  font-size: 100%;
  font-weight: bold;
  color: black;
}

td.mwfaq
{
  text-align: center;
  width: 100%;
  font-family: Arial,Helvetica;
  font-size: 100%;
  font-weight: bold;
  color: black;
}

td.mwmd
{
  text-align: center;
  width: 100%;
  font-family: Arial,Helvetica;
  font-size: 100%;
  font-weight: bold;
  color: green;
}

td.mwversionl
{
  text-align: left;
  width: 100px;
  font-family: Arial,Helvetica;
  font-size: 130%;
  font-weight: bold;
  color: black;
  padding-left: 10px;
}

td.mwversionp
{
  text-align: left;
  width: 82px;
  font-family: Arial,Helvetica;
  font-size: 130%;
  font-weight: bold;
  color: black;
}

td.mwversionn
{
  text-align: left;
  width: 100px;
  font-family: Arial,Helvetica;
  font-size: 130%;
  font-weight: bold;
  color: black;
}

td.backtosummary
{
  text-align: right;
  font-family: Arial,Helvetica;
  font-size: 130%;
  font-weight: bold;
  color: black;
  /* padding-left: 85px; */
}


td.mwdisclaim
{
  text-align: left;
  width: 100%;
  font-family: Arial,Helvetica;
  font-size: 90%;
  font-weight: bold;
  color: red;
  padding-left: 10px;
}

td.mwdiscussion
{
  text-align: left;
  width: 75%;
  padding-left: 10px;
}

td.nompd
{
  text-align: center;
  font-family: Arial,Helvetica;
  font-size: 1em;
}

td.lilimage
{
  text-align: left;
}

img.lilimage
{
  width: 267px;
}

td.liltext
{
  text-align: left;
  font-family: Arial,Helvetica;
  font-size: .9em;
}

td.mwarchive
{
  text-align: left;
  width: 100%;
  font-family: Arial,Helvetica;
  font-size: 1.12em;
  font-weight: bold;
  color: black;
  padding-left: 10px;
}

td.mwarchdate
{
  text-align: left;
  width: 100%;
  font-family: Arial,Helvetica;
  font-size: 0.9em;
  font-weight: normal;
  color: black;
  padding-left: 10px;
}


.mwfeedback:link {
	text-decoration: underline; 
	color: green; 
	background: white;
        font-size:.9em;

}
.mwfeedback:visited {
	text-decoration: underline; 
	color: green; 
	background: white;
}
.mwfeedback:hover {
	text-decoration: none; 
	color: #FFF; 
	background: #000;
}

.mwquestions:link {
        text-decoration: underline;
        color: white;
        background: green;

}
.mwquestions:visited {
        text-decoration: underline;
        color: white;
        background: green;
}
.mwquestions:hover {
        text-decoration: none;
        color: #FFF;
        background: green;
}


